<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlaBla</title>
</head>
<body>
  <div>
    <div>
<input [(ngModel)]="newTask">

<button (click)="create()"> Ajouter</button>

    </div>

  <div *ngFor="let x of arr; let index = index;">
    {{ x }}
    <button (click)="delete(index)"> Supprimer</button>
    

  </div>
  <!-- <button (click)="deleteAll()"> Tout Supprimer</button> -->
  </div>
</body>
</html>